.feed {
    flex-grow: 1;
    margin: 0 20px;
  }
  
  .post {
    background: white;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  